$dark-gold: #dec27f;
$light-gold: #e2ce84;
$gray: #f2f2f2;

@import url("../node_modules/normalize.css/normalize.css");
@import url("../assets/fonts/stylesheet.css");
@import url("../assets/fonts/FiraSans/firasans.css");

body {
    background-color: #000;
    background-image: url("../assets/img/game_bg.png");
    background-repeat: no-repeat;
    font-family: "Open Sans", "Fira Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-family: "Fira Sans";
    width: 80%;
    margin: 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #000000;
}

h3 {
    font-family: "Fira Sans";
    line-height: 28px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    padding-top: 15px;

    & .right-data {
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: 18px;
        float: right;
        & .light {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            margin-left: 6px;
        }
    }
}

h4 {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #000000;
}

.f-bold {
    font-weight: 700;
}

.title-left {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    color: #000000;
}

.menu-page {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.menu-mobile {
    padding: 30px 0;
}

.menu-block {
    padding: 40px 0;
}

.menu-link-point {
    padding: 15px 0;
    list-style-type: none;

    &::marker {
        display: none;
        color: #fff;
    }

    & a {
        text-decoration: none;
        color: $dark-gold;
        font-size: 18px;
        display: flex;
        align-items: center;

        & img {
            margin-right: 18px;
        }
    }

    &.logout-link {
        padding: 35px 0;
        margin: 30px 0;
        border-top: 2px solid #4d4f52;
        border-bottom: 2px solid #4d4f52;
    }

    &.lang-edit-point {
        display: flex;

        & .inactive {
            cursor: default;
            opacity: 0.5;
        }
    }
}

.content__block {
    background: #fff;
    border-radius: 40px;
    padding-bottom: 10px;
}

.custom-container {
    margin: 0 30px;
    width: auto;
}

.profile__info {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__info__left {
    display: flex;
    align-items: center;
}

.user__info {
    margin-left: 25px;
}

.user__login {
    color: $dark-gold;
    font-weight: 300;
}

.user__balance {
    color: $light-gold;
}

.burger {
    border: none;
    background: none;
    padding: 0;
}

.header-title {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.game__background {
    background: url("../assets/img/battleship.png");
    height: 100vw;
    background-size: cover;
    border-radius: 40px;
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.name__of__game__block {
    font-family: "Fira Sans";
    background-color: #fff;
    width: 100%;
    border-radius: 18px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);

    &.game-img {
        margin-top: -120px;
    }
}

.name__of__game {
    font-size: 27px;
    padding: 36px 0 26px 20px;
    background-color: #f9f9f9;
    border-radius: 18px 18px 0 0;
    margin: 0;
    font-weight: 700;
}

.name__of__game__block {
    .info__about__users {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title {
        font-weight: 700;
        line-height: 19px;
        text-align: center;
        margin-bottom: 8px;
    }
}

.users-online,
.prize-fund {
    text-align: center;
    padding: 20px 0 25px 0;
    width: 27%;
}

.tabs-block {
    width: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    display: flex;
    margin-bottom: 30px;
}

.tab-panel__button {
    width: 50%;
    padding: 25px 0;
    text-align: center;
    border-radius: 17px;
    background-color: #fff;
    font-weight: 700;

    &.active {
        background-color: $gray;
    }
}

.nav-item-two {
    width: 50% !important;
}

.list-users {
    margin-bottom: 20px;

    .li-user {
        margin-bottom: 10px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    .see-more__button {
        margin: 20px 0;
        padding: 15px 20px;
        text-align: center;
        background-color: $gray;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        cursor: pointer;
    }
}

.li-user {
    & .username {
        display: flex;
        align-items: center;

        & .number {
            font-weight: 700;
            font-size: 23px;
            margin-right: 18px;
        }
    }
}

.accordion {
    --bs-accordion-border-width: 0;
    border-top: 1px solid #f1f1f1;
    margin: 40px 0 20px 0;
    padding: 30px 0 0 0;
}

.accordion-small {
    border-top: none;
    margin: 0;
    padding: 0;
}

.accordion-body {
    padding: 20px 0;
}

.accordion-button-custom {
    background: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 0;
}

#accordion-button-star {
    &::before {
        content: "";
        position: relative;
        float: left;
        margin: 0px 10px 0 0;
        width: 17px;
        height: 17px;
        background-image: url("../assets/img/star.svg");
    }
}

#accordion-button-info {
    &::before {
        content: "";
        position: relative;
        float: left;
        margin: 0px 10px 0 0;
        width: 17px;
        height: 17px;
        background-image: url("../assets/img/Info-rect.svg");
    }
}

.accordion-button {
    &::after {
        width: 10px;
        height: 10px;
        background-image: url("../assets/img/plus.svg");
        background-size: cover;
    }

    &:not(.collapsed)::after {
        width: 10px;
        height: 10px;
        background-image: url("../assets/img/minus.svg");
        background-size: cover;
    }

    &:focus {
        border-color: transparent;
        box-shadow: none;
    }

    &:not(.collapsed) {
        color: #000;
        background-color: #fff;
        box-shadow: none;
    }
}

footer {
    background: rgba($color: #000000, $alpha: 0.9);
    color: #fff;
    padding: 40px 30px;
    margin-top: 40px;

    & a {
        color: $light-gold;
        text-decoration: none;
        &:hover {
            color: $dark-gold;
        }
    }
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__column {
    width: 50%;

    & .title {
        margin-bottom: 15px;
    }

    & .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 170px;
    }

    & .chat-telegram {
        border: 1px solid $dark-gold;
        padding: 5px 15px 6px;
        border-radius: 5px;

        & img {
            margin-right: 8px;
            width: 17px;
            height: 17px;
        }
    }
}

.footer__security__pay {
    font-size: 13px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding: 25px 0;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: relative;
        float: left;
        margin: 0px 15px 0 0;
        width: 32px;
        height: 22px;
        background-image: url("../assets/img/lock.svg");
    }
}

.footer__links__offer {
    padding: 10px 0;
    & a {
        display: block;
        margin-top: 15px;
    }
}

.footer__copyright {
    margin-top: 15px;
    font-size: 13px;
}
.cards-block {
    padding: 20px 0;
    width: 10000px;
    width: 100vw;
    float: left;
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 0;
    }

    & .wrapper {
        width: 780px;
        overflow: scroll;
        vertical-align: top;
        top: 0;
    }
}

.def-card {
    width: 160px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
    padding: 25px 30px;
    color: #fff;
    border-radius: 15px;
    margin-left: 5px;
    background: url("../assets/img/card_bg.png"), linear-gradient(225deg, #3b3b3b 0%, #050505 100%);
    background-size: cover;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.228549);

    &:first-child {
        margin-left: 30px;
    }

    &.active {
        height: 180px;
        transition: 0.2s;
    }
}

.icon-card {
    height: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.title-card {
    padding: 10px 0 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.description-card {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

.method__text {
    p {
        padding: 15px 0;
        font-size: 14px;
        line-height: 20px;
        color: #464646;
        margin: 0;
    }
}

.nav-pills {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    margin-bottom: 40px;
}

#format-bill-tab {
    margin-top: 25px;
}

.nav-item {
    color: #000;
    width: 25%;

    &.nav-item-five {
        width: 20%;

        .nav-link {
            padding: 20px 0;
        }
    }

    .nav-link {
        padding: 20px 0;
        width: 100%;
        &.active {
            border-radius: 17px;
            background-color: $gray;
        }
    }

    .percent {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #464646;

        &.bold {
            font-weight: 700;
            color: #000;
        }
    }
}

.type__money {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.format-bill {
    & .title {
        padding-bottom: 15px;
    }
}

.format-sum__block {
    padding-bottom: 40px;
}

.def-input {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
    font-size: 14px;
    line-height: 19px;
    width: 225px;
    max-width: 80%;

    &::placeholder {
        color: #7d7d7d;
    }

    &:focus {
        outline: $dark-gold auto 1px;
    }
}

.circle-input {
    border-radius: 17px;
    text-align: center;
    padding: 20px 0;
    width: 50%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    width: 210px;
}

.def-button {
    font-family: "Open Sans";
    background: #e9cd93;
    box-shadow: 0px 4px 7px rgba(222, 200, 149, 0.696054);
    border-radius: 10px;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    border: none;
    width: 100%;
    padding: 20px 0;
    margin-top: 30px;
}

.gray-button {
    font-weight: 600;
    font-size: 17px;
    background: $gray;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.228549);
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    border: none;
}

.purchase-amount-block {
    & .title {
        display: flex;
        justify-content: space-between;
    }
}

.calculation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result {
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.5px;
}

.custom-bid-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
}

#pills-tab-val,
#pills-tab-type-duel {
    margin-bottom: 20px;
}

.custom-bid-block {
    margin-bottom: 20px;
}

.balance {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);

    & .left-side {
    }

    & .right-side {
    }

    .ballance-game {
        &::after {
            content: "";
            position: relative;
            float: right;
            background: url("../assets/img/wallet-b.svg");
            background-size: cover;
            height: 20px;
            width: 20px;
            margin-left: 7px;
        }
    }
}

.bottom-popup {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background-color: #fff;
    border-radius: 40px 40px 0 0;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    width: 100vw;

    &.win {
        background: url('../assets/img/confetti.png') #fff;
        background-position: top;
        background-repeat: no-repeat;
    }

    .center {
        display: block;
        text-align: center;
        margin-top: 35px;
    }

    h3 {
        display: inline-block;
    }

    & .close {
        float: right;
        display: inline-block;
    }

    & p {
        padding: 40px 0 30px;
    }
}

.winning-amount {
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;

    & .user__balance-popup {
        display: block;
        margin-top: 2px;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
    }
}
